@import "../styles/variables";
@import "../styles/mixins";

.container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.fullPage {
    width: 100%;
    height: 100%;
}

.blur-background {
    width: 100%;
    height: 100%;
    position: absolute;
    backdrop-filter: blur(5px);
    position: fixed;
}

.content {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0 auto 8px;
    right: 0;
    box-sizing: border-box;
    width: calc(100% - 64px);
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    overflow: hidden;
    @include customAnimation(expand-out, calc(100% - 16px), calc(100% - 64px), width);
}


.open {
    margin: 0 auto 8px;
    @include customAnimation(expand-in, calc(100% - 64px), calc(100% - 16px), width);
}

.bottom_container {
    background-color: $white;
    box-sizing: border-box;
    color: $black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 70px;
    overflow: hidden;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    position: relative;
    background: $white;
    width: 20%;
    font-size: 12px;
    gap: 6px;

    &:first-child {
        padding-left: 8px;
    }

    &:last-child {
        padding-right: 8px;
    }

    .chatIcon {
        width: 22px;
    }
}

.drawer-option-circle {
    svg {
        path {
            fill: $white;
        }
    }
}

.active {
    color: $blue;

    svg {
        path {
            fill: $blue;
        }
    }

    .sellIcon {
        animation: pulse 0.7s 1;
    }

    .financeIcon {
        animation: spin 0.7s 1;
    }

    .shopIcon {
        animation: pulse 0.7s 1;
    }

    .chatIcon {
        animation: float 0.7s ease-in-out 1;
    }

    .moreIcon {
        animation: pulse 0.7s 1;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-2px) rotate(10deg);
    }

    50% {
        transform: translateY(-4px) rotate(-10deg);
    }

    100% {
        transform: translateY(0) rotate(0deg);
    }
}

.drawer {
    background-color: $white;
    box-sizing: border-box;
    color: $black;
    display: flex;
    align-items: center;
    justify-content: center;
    // justify-content: flex-end;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
    backdrop-filter: blur(5px);
    transition: all 0.3s ease-in-out;
    max-height: 100%;
    width: 100%;

    &-option {
        height: 70px;
        display: flex;
        flex-direction: row;
        gap: 16px;
        align-items: center;
        padding: 0 16px;
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
        transition: max-height 0.3s ease-out;

        &-circle {
            background-color: $blue;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;

            svg {
                width: 24px;
                max-height: 24px;
            }
        }

        &-text {
            color: $text-color;
        }

    }
}

.withBorder {
    border-top: 1px solid #ddd3d4;
}

.drawer.collapsed {
    display: block;
}


@for $col from 1 through $cols {
    .list-of-#{ $col }.expanded {
        @include customAnimation(slide-in-#{$col}, 0, 70px*$col, height);
    }

    .list-of-#{ $col }.collapsed {
        @include customAnimation(slide-out-#{$col}, 70px*$col, 0, height)
    }

}