@import "../../styles/variables";

.containerV3 {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;

  .navbar {
    position: relative;
    height: 70px;
    background-color: $white;
    color: $black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    padding: 0 10px;
    margin: 10px;
  }

  .nav-item {
    padding: 10px;
    display: grid;
    gap: 5px;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    font-size: 12px;

    .chatIcon {
      width: 22px;
    }
  }

  .nav-item svg {
    pointer-events: none;
  }

  .indicator {
    position: absolute;
    height: 4px;
    background-color: $blue;
    top: 0;
    left: 0;
    width: 0;
    transition: transform 0.2s ease;
    transform-origin: center;
    transform: translateX(-50%) scaleX(0);
  }

  @-webkit-keyframes fade-out {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  .drawer-option-circle {
    svg {
      path {
        fill: $white;
      }
    }
  }

  .active {
    color: $blue;

    svg {
      path {
        fill: $blue;
      }
    }

    .sellIcon {
      animation: pulse 0.7s 1;
    }

    .financeIcon {
      animation: spin 0.7s 1;
    }

    .shopIcon {
      animation: pulse 0.7s 1;
    }

    .chatIcon {
      animation: float 0.7s ease-in-out 1;
    }

    .moreIcon {
      animation: pulse 0.7s 1;
    }
  }

  .drawer {
    background-color: $white;
    color: $black;
    border-radius: 5px;
    box-shadow: 0px 0px 9px 0px $shadow-color;
    overflow: hidden;
    box-sizing: border-box;
    margin: 10px;
    display: none;
    transition: all 0.3s ease-in-out;
    max-height: 0;

    &-option {
      height: 70px;
      display: flex;
      flex-direction: row;
      gap: 16px;
      align-items: center;
      padding: 0 16px;
      width: 100%;
      box-sizing: border-box;
      overflow: hidden;
      transition: max-height 0.3s ease-out;

      &-circle {
        background-color: $blue;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;

        svg {
          width: 24px;
          max-height: 24px;
        }
      }

      &-text {
        color: $text-color;
      }
    }
  }

  .drawer.expanded {
    display: block;
    animation: zoom-in 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    max-height: 100%;
  }

  .drawer.collapsed {
    display: block;
    animation: zoom-out 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  }

  @keyframes slide-out-top {
    0% {
      transform: translateY(0);
      opacity: 1;
    }

    100% {
      transform: translateY($translate-size);
      opacity: 0;
    }
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.2);
    }

    100% {
      transform: scale(1);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(180deg);
    }
  }

  @keyframes float {
    0% {
      transform: translateY(0);
    }

    25% {
      transform: translateY(-2px) rotate(10deg);
    }

    50% {
      transform: translateY(-4px) rotate(-10deg);
    }

    100% {
      transform: translateY(0) rotate(0deg);
    }
  }

  @-webkit-keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY($translate-size);
      transform: translateY($translate-size);
      opacity: 0;
    }

    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slide-in-bottom {
    0% {
      transform: translateY($translate-size);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes zoom-in {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes zoom-out {
    0% {
      transform: scale(1);
      opacity: 1;
    }

    100% {
      transform: scale(0.8);
      opacity: 0;
    }
  }
}