@import "../../styles/variables";

.containerV3 {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;

  
.navbar {
  position: relative;
  height: 70px;
  background-color: $white;
  color: $black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  padding: 0 10px;
  margin: 10px;
}

.nav-item {
  padding: 10px;
  display: grid;
  gap: 5px;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;

  .chatIcon {
    width: 22px;
  }
}

.nav-item svg {
  pointer-events: none;
}

.indicator {
  position: absolute;
  height: 3px;
  background-color: $blue;
  top: 0;
  left: 0;
  width: 0;
  transition: transform 0.2s ease;
  transform-origin: center;
  transform: translateX(-50%) scaleX(0);
}

.drawer-option-circle {
  svg {
    path {
      fill: $white;
    }
  }
}

.active {
  color: $blue;

  svg {
    path {
      fill: $blue;
    }
  }

  .sellIcon {
    animation: pulse 0.7s 1;
  }

  .financeIcon {
    animation: spin 0.7s 1;
  }

  .shopIcon {
    animation: pulse 0.7s 1;
  }

  .chatIcon {
    animation: float 0.7s ease-in-out 1;
  }

  .moreIcon {
    animation: pulse 0.7s 1;
  }
}

.drawer {
  background-color: $white;
  color: $black;
  border-radius: 5px;
  box-shadow: 0px 0px 9px 0px $shadow-color;
  overflow: hidden;
  box-sizing: border-box;
  margin: 10px;
  transition: opacity 0.5s ease-in-out, visibility 0.4s ease-in-out;
  opacity: 0;
  visibility: hidden;

  &-option {
    height: 70px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    padding: 0 16px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    transition: max-height 0.3s ease-out;

    &-circle {
      background-color: $blue;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;

      svg {
        width: 24px;
        max-height: 24px;
      }
    }

    &-text {
      color: $text-color;
    }
  }
}

.drawer.expanded {
  opacity: 1;
  visibility: visible;
  -webkit-animation: fade-out 0.5s ease-out reverse;
  animation: fade-out 0.5s ease-out reverse;
}

.drawer.collapsed {
  -webkit-animation: fade-out-bck 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: fade-out-bck 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fade-out-bck {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
}
@keyframes fade-out-bck {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-2px) rotate(10deg);
  }

  50% {
    transform: translateY(-4px) rotate(-10deg);
  }

  100% {
    transform: translateY(0) rotate(0deg);
  }
}

}

