.body,
html {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0 8px 8px 8px;
  right: 0;
  box-sizing: border-box;
}

.nav {
  width: 100%;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 70px;
  border-radius: 5px;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.25);
}

.nav-item {
  color: black;
  padding: 20px;
  text-decoration: none;
  transition: 0.3s;
  z-index: 1;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  position: relative;
}

.nav-indicator {
  position: absolute;
  left: 0;
  bottom: 81px;
  transition: 0.4s;
  height: 5px;
  z-index: 1;
  border-radius: 8px 8px 0 0;
}

@media (max-width: 580px) {
  .nav {
    overflow: auto;
  }
}
